name: SDK API Build

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v3.1.2
      with:
        versionSpec: '6.x'

    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@v3.1.2

    - name: Setup .NET 10 (SDK)
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        source-url: https://nuget.pkg.github.com/enclave-networks/index.json
      env:
        NUGET_AUTH_TOKEN: ${{github.token}}

    - name: Build
      run: dotnet build Enclave.Sdk.Api.sln -c Release /p:Version=${{ steps.gitversion.outputs.SemVer }}

    - name: Unit Tests
      working-directory: tests/Enclave.Sdk.Api.Tests
      run: dotnet test -c Release

    - name: Push Github Source Packages
      if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
      run: dotnet nuget push src/**/*${{ steps.gitversion.outputs.SemVer }}.nupkg  --api-key ${{github.token}} -s https://nuget.pkg.github.com/enclave-networks/index.json --skip-duplicate

    - name: Push To nuget.org
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: dotnet nuget push src/**/*${{ steps.gitversion.outputs.SemVer }}.nupkg -k ${{ secrets.PUBLIC_NUGET_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Get Sdk.Api.Data Version
      id: version
      working-directory: src/Enclave.Sdk.Api
      run: |
        PACKAGE_VERSION=$(dotnet list package | grep -P -o "Enclave\.Sdk\.Api\.Data\s+[^\s]+\s+\K.+")
        echo "packageVersion=$PACKAGE_VERSION" >> $GITHUB_OUTPUT
        
    - name: Create Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.gitversion.outputs.SemVer }}
        release_name: Release v${{ steps.gitversion.outputs.SemVer }}
        body: |
         Latest SDK API Release
         Enclave.Sdk.Api.Data Version: ${{ steps.version.outputs.packageVersion }}